.white-grid-1 {
    height: 30px;
    width: 30px;
    border: 0.5px solid #d1d1d1 ;
}

.black-grid-1 {
    height: 30px;
    width: 30px;
    background: #d1d1d1;
    border: 0.5px solid #d1d1d1;
}
.block{
    position: absolute;
    width: "100px";
    height: "100px";
}
.white-grid-1:hover {
    background: blanchedalmond;
    border: 1px dotted rgba(0, 0, 0, 0.397) ;
}

.testimonial-group > .row {
    white-space: nowrap;
    overflow-x: auto;
}

.testimonial-group > .row > .col{
    display: inline-block;
    float: none;
}